In [1]:
import pandas as pd
import pprint
from pathlib import Path

In [2]:
csv = pd.read_csv("/Users/chaunguyen/Desktop/NTAD_National_Bridge_Inventory_-6282134062105639862.csv")
philly_df = csv[(csv["STATE_CODE_001"] == 42) & (csv["COUNTY_CODE_003"] == 101)]
philly_df

/var/folders/xb/9yf9xtb12zn2ly4v3jjr252h0000gn/T/ipykernel_72157/74856270.py:1: DtypeWarning: Columns (2,6,8,18,32,37,39,40,72,74,76,97,99,103,108,109) have mixed types. Specify dtype option on import or set low_memory=False.
  csv = pd.read_csv("/Users/chaunguyen/Desktop/NTAD_National_Bridge_Inventory_-6282134062105639862.csv")

,OBJECTID,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,...,SUBMITTED_BY,BRIDGE_CONDITION,LOWEST_RATING,DECK_AREA,STATUS,DATE,LATDD,LONGDD,x,y
452996,452997,42,7193,1,3,1,00000,0,6,101,...,42,G,7,237.90,AM,1202,40.103450,-74.961092,-74.961092,40.103450
466359,466360,42,38303,1,2,1,00001,0,6,101,...,42,F,5,548.17,ST,723,39.989944,-75.250461,-75.250461,39.989944
466360,466361,42,38305,1,2,1,00001,0,6,101,...,42,P,4,478.17,AM,1202,40.000700,-75.227539,-75.227539,40.000700
466361,466362,42,38310,1,2,1,00001,3,6,101,...,42,F,5,749.47,AM,403,40.006661,-75.199589,-75.199589,40.006661
466362,466363,42,38311,1,2,1,00001,1,6,101,...,42,F,5,7983.20,MM,403,40.007103,-75.192278,-75.192278,40.007103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472437,472438,42,000000000057500,1,1,1,00095,1,6,101,...,42,G,8,5316.32,ST,723,39.971314,-75.123447,-75.123447,39.971314
472558,472559,42,000000000057682,1,5,0,00000,0,6,101,...,42,G,7,367.84,ST,723,39.942597,-75.211397,-75.211397,39.942597
472680,472681,42,000000000067832,1,3,1,00000,0,6,101,...,42,G,8,255.36,ST,723,40.058022,-75.195347,-75.195347,40.058022
472724,472725,42,000000000067987,1,3,1,00000,0,6,101,...,42,G,8,1672.65,ST,723,39.998933,-75.086278,-75.086278,39.998933
472949,472950,42,000000000069671,1,5,6,00737,0,6,101,...,42,F,5,1505.00,ST,723,39.893306,-75.191028,-75.191028,39.893306

In [6]:
poor_df = csv[csv["BRIDGE_CONDITION"] == "P"]
poor_df

,OBJECTID,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,...,SUBMITTED_BY,BRIDGE_CONDITION,LOWEST_RATING,DECK_AREA,STATUS,DATE,LATDD,LONGDD,x,y
6,7,1,000002,1,4,1,00000,0,10,127,...,1,P,4,191.66,MM,403,33.908411,-87.288211,-87.288211,33.908411
7,8,1,000004,1,4,1,00000,0,10,127,...,1,P,4,178.34,MM,403,33.764153,-87.358486,-87.358486,33.764153
9,10,1,000005,1,5,0,00000,0,10,75,...,1,P,4,74.40,MM,403,33.564936,-88.077364,-88.077364,33.564936
18,19,1,000024,1,5,1,00000,0,3,117,...,1,P,2,117.25,MM,403,33.439958,-86.699156,-86.699156,33.439958
20,21,1,000039,1,5,0,00000,0,4,17,...,1,P,3,174.35,MM,403,32.811647,-85.169233,-85.169233,32.811647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621571,621572,78,STX6991,1,4,1,00000,0,0,10,...,78,P,1,112.48,ST,723,17.724517,-64.803747,-64.803747,17.724517
621572,621573,78,STX7020,1,4,1,00000,0,0,10,...,78,P,4,77.25,ST,723,17.719483,-64.803067,-64.803067,17.719483
621573,621574,78,STX7025,1,4,1,00000,0,0,10,...,78,P,3,57.76,ST,723,17.723572,-64.789658,-64.789658,17.723572
621574,621575,78,STX702505,1,4,1,00000,0,0,10,...,78,P,2,74.80,ST,723,17.716378,-64.883181,-64.883181,17.716378
621575,621576,78,STX7215,1,4,1,00000,0,0,10,...,78,P,2,91.96,ST,723,17.739078,-64.798275,-64.798275,17.739078

In [9]:
poor_df = poor_df[[ "LATDD", "LONGDD", "BRIDGE_CONDITION"]]
poor_df

            LATDD     LONGDD BRIDGE_CONDITION
6       33.908411 -87.288211                P
7       33.764153 -87.358486                P
9       33.564936 -88.077364                P
18      33.439958 -86.699156                P
20      32.811647 -85.169233                P
...           ...        ...              ...
621571  17.724517 -64.803747                P
621572  17.719483 -64.803067                P
621573  17.723572 -64.789658                P
621574  17.716378 -64.883181                P
621575  17.739078 -64.798275                P

[42404 rows x 3 columns]

In [10]:
poor_df.to_csv("Poor Bridges Across USA.csv", index=False)

In [3]:
philly_df.columns

Index(['OBJECTID', 'STATE_CODE_001', 'STRUCTURE_NUMBER_008',
       'RECORD_TYPE_005A', 'ROUTE_PREFIX_005B', 'SERVICE_LEVEL_005C',
       'ROUTE_NUMBER_005D', 'DIRECTION_005E', 'HIGHWAY_DISTRICT_002',
       'COUNTY_CODE_003',
       ...
       'SUBMITTED_BY', 'BRIDGE_CONDITION', 'LOWEST_RATING', 'DECK_AREA',
       'STATUS', 'DATE', 'LATDD', 'LONGDD', 'x', 'y'],
      dtype='object', length=130)

In [4]:
philly_df = philly_df[["LATDD", "LONGDD", "YEAR_BUILT_027", "OWNER_022", "MAINTENANCE_021", "BRIDGE_CONDITION", 
                       "BRIDGE_IMP_COST_094", "ROADWAY_IMP_COST_095", "TOTAL_IMP_COST_096", 
                       "YEAR_RECONSTRUCTED_106", "DECK_WIDTH_MT_052", "STRUCTURE_LEN_MT_049"]]
philly_df

,LATDD,LONGDD,YEAR_BUILT_027,OWNER_022,MAINTENANCE_021,BRIDGE_CONDITION,BRIDGE_IMP_COST_094,ROADWAY_IMP_COST_095,TOTAL_IMP_COST_096,YEAR_RECONSTRUCTED_106,DECK_WIDTH_MT_052,STRUCTURE_LEN_MT_049
452996,40.103450,-74.961092,1990,4,4,G,0.0,0.0,0.0,0.0,13.0,18.3
466359,39.989944,-75.250461,1935,1,27,F,86.0,252.0,1156.0,0.0,19.1,28.7
466360,40.000700,-75.227539,1910,1,1,P,25.0,72.0,332.0,0.0,25.3,18.9
466361,40.006661,-75.199589,1953,1,1,F,0.0,0.0,0.0,1989.0,14.9,50.3
466362,40.007103,-75.192278,1960,1,1,F,605.0,1782.0,8168.0,NaN,13.6,587.0
...,...,...,...,...,...,...,...,...,...,...,...,...
472437,39.971314,-75.123447,2019,1,1,G,NaN,NaN,NaN,NaN,22.3,238.4
472558,39.942597,-75.211397,2020,27,27,G,NaN,NaN,NaN,NaN,24.2,15.2
472680,40.058022,-75.195347,2020,1,1,G,NaN,NaN,NaN,NaN,15.2,16.8
472724,39.998933,-75.086278,2021,1,1,G,NaN,NaN,NaN,NaN,29.5,56.7
472949,39.893306,-75.191028,1941,26,26,F,NaN,NaN,NaN,2003.0,12.5,120.4

In [5]:
philly_df.rename(columns={"LATDD": "Latitude",
                          "LONGDD": "Longitude",
                          "YEAR_BUILT_027": "Year Built",
                          "OWNER_022": "Owner",
                          "MAINTENANCE_021": "Maintenance Responsibility",
                          "BRIDGE_CONDITION": "Bridge Condition",
                          "BRIDGE_IMP_COST_094": "Bridge Improvement Cost",
                          "ROADWAY_IMP_COST_095": "Roadway Improvement Cost",
                          "TOTAL_IMP_COST_096": "Total Improvement Cost",
                          "YEAR_RECONSTRUCTED_106": "Year Reconstructed",
                          "DECK_WIDTH_MT_052": "Deck Width",
                          "STRUCTURE_LEN_MT_049": "Structure Length"}, inplace=True)

/var/folders/xb/9yf9xtb12zn2ly4v3jjr252h0000gn/T/ipykernel_37178/3279322391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  philly_df.rename(columns={"LATDD": "Latitude",

In [6]:
philly_df.dtypes

Latitude                      float64
Longitude                     float64
Year Built                      int64
Owner                           int64
Maintenance Responsibility      int64
Bridge Condition               object
Bridge Improvement Cost       float64
Roadway Improvement Cost      float64
Total Improvement Cost        float64
Year Reconstructed            float64
Deck Width                    float64
Structure Length              float64
dtype: object

In [7]:
philly_df.to_csv("Philadelphia Cleaned DOT Data.csv", index=False)