In [1]:
import pandas as pd
import folium
from geopy.geocoders import Nominatim

In [14]:
df = pd.read_csv("C:/Users/samka/Downloads/NTAD_National_Bridge_Inventory_-6282134062105639862.csv", low_memory=False)
bridge_df = df[(df['STATE_CODE_001'] == 42) & (df['COUNTY_CODE_003'] == 101)]
bridge_df

,OBJECTID,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,...,SUBMITTED_BY,BRIDGE_CONDITION,LOWEST_RATING,DECK_AREA,STATUS,DATE,LATDD,LONGDD,x,y
452996,452997,42,000000000007193,1,3,1,00000,0,06,101,...,42,G,7,237.90,AM,1202,40.103450,-74.961092,-74.961092,40.103450
466359,466360,42,000000000038303,1,2,1,00001,0,06,101,...,42,F,5,548.17,ST,723,39.989944,-75.250461,-75.250461,39.989944
466360,466361,42,000000000038305,1,2,1,00001,0,06,101,...,42,P,4,478.17,AM,1202,40.000700,-75.227539,-75.227539,40.000700
466361,466362,42,000000000038310,1,2,1,00001,3,06,101,...,42,F,5,749.47,AM,403,40.006661,-75.199589,-75.199589,40.006661
466362,466363,42,000000000038311,1,2,1,00001,1,06,101,...,42,F,5,7983.20,MM,403,40.007103,-75.192278,-75.192278,40.007103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472437,472438,42,000000000057500,1,1,1,00095,1,06,101,...,42,G,8,5316.32,ST,723,39.971314,-75.123447,-75.123447,39.971314
472558,472559,42,000000000057682,1,5,0,00000,0,06,101,...,42,G,7,367.84,ST,723,39.942597,-75.211397,-75.211397,39.942597
472680,472681,42,000000000067832,1,3,1,00000,0,06,101,...,42,G,8,255.36,ST,723,40.058022,-75.195347,-75.195347,40.058022
472724,472725,42,000000000067987,1,3,1,00000,0,06,101,...,42,G,8,1672.65,ST,723,39.998933,-75.086278,-75.086278,39.998933
472949,472950,42,000000000069671,1,5,6,00737,0,06,101,...,42,F,5,1505.00,ST,723,39.893306,-75.191028,-75.191028,39.893306

In [15]:
bridge_df = bridge_df[["OBJECTID", "LATDD", "LONGDD", "YEAR_BUILT_027", "OWNER_022", "MAINTENANCE_021", "BRIDGE_CONDITION", "BRIDGE_IMP_COST_094", "ROADWAY_IMP_COST_095", "TOTAL_IMP_COST_096", "YEAR_RECONSTRUCTED_106", "DECK_WIDTH_MT_052", "STRUCTURE_LEN_MT_049", "STATE_CODE_001", "COUNTY_CODE_003"]]
bridge_df

,OBJECTID,LATDD,LONGDD,YEAR_BUILT_027,OWNER_022,MAINTENANCE_021,BRIDGE_CONDITION,BRIDGE_IMP_COST_094,ROADWAY_IMP_COST_095,TOTAL_IMP_COST_096,YEAR_RECONSTRUCTED_106,DECK_WIDTH_MT_052,STRUCTURE_LEN_MT_049,STATE_CODE_001,COUNTY_CODE_003
452996,452997,40.103450,-74.961092,1990,4,4,G,0.0,0.0,0.0,0.0,13.0,18.3,42,101
466359,466360,39.989944,-75.250461,1935,1,27,F,86.0,252.0,1156.0,0.0,19.1,28.7,42,101
466360,466361,40.000700,-75.227539,1910,1,1,P,25.0,72.0,332.0,0.0,25.3,18.9,42,101
466361,466362,40.006661,-75.199589,1953,1,1,F,0.0,0.0,0.0,1989.0,14.9,50.3,42,101
466362,466363,40.007103,-75.192278,1960,1,1,F,605.0,1782.0,8168.0,NaN,13.6,587.0,42,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472437,472438,39.971314,-75.123447,2019,1,1,G,NaN,NaN,NaN,NaN,22.3,238.4,42,101
472558,472559,39.942597,-75.211397,2020,27,27,G,NaN,NaN,NaN,NaN,24.2,15.2,42,101
472680,472681,40.058022,-75.195347,2020,1,1,G,NaN,NaN,NaN,NaN,15.2,16.8,42,101
472724,472725,39.998933,-75.086278,2021,1,1,G,NaN,NaN,NaN,NaN,29.5,56.7,42,101
472949,472950,39.893306,-75.191028,1941,26,26,F,NaN,NaN,NaN,2003.0,12.5,120.4,42,101

In [16]:
print("Shape Before Deleting Missing Values:", bridge_df.shape)
print("Missing Values Before Deleting:\n" + str(bridge_df.isnull().sum()), "\n")
rows_with_nan = bridge_df[bridge_df.isnull().any(axis=1)]
print("Rows with NaN values:")
print(rows_with_nan)

Shape Before Deleting Missing Values: (593, 15)
Missing Values Before Deleting:
OBJECTID                    0
LATDD                       0
LONGDD                      0
YEAR_BUILT_027              0
OWNER_022                   0
MAINTENANCE_021             0
BRIDGE_CONDITION            0
BRIDGE_IMP_COST_094        71
ROADWAY_IMP_COST_095       71
TOTAL_IMP_COST_096         71
YEAR_RECONSTRUCTED_106    108
DECK_WIDTH_MT_052           0
STRUCTURE_LEN_MT_049        0
STATE_CODE_001              0
COUNTY_CODE_003             0
dtype: int64

Rows with NaN values:
        OBJECTID      LATDD     LONGDD  YEAR_BUILT_027  OWNER_022  \
466362    466363  40.007103 -75.192278            1960          1
466363    466364  40.006550 -75.193561            1960          1
466364    466365  40.016014 -75.175697            1960          1
466386    466387  40.043556 -75.020661            1697          1
466398    466399  40.044444 -75.054275            1967          1
...          ...        ...        ...             ...        ...
472437    472438  39.971314 -75.123447            2019          1
472558    472559  39.942597 -75.211397            2020         27
472680    472681  40.058022 -75.195347            2020          1
472724    472725  39.998933 -75.086278            2021          1
472949    472950  39.893306 -75.191028            1941         26

        MAINTENANCE_021 BRIDGE_CONDITION  BRIDGE_IMP_COST_094  \
466362                1                F                605.0
466363                1                F                136.0
466364                1                F                 69.0
466386                3                F                  NaN
466398                1                P                 81.0
...                 ...              ...                  ...
472437                1                G                  NaN
472558               27                G                  NaN
472680                1                G                  NaN
472724                1                G                  NaN
472949               26                F                  NaN

        ROADWAY_IMP_COST_095  TOTAL_IMP_COST_096  YEAR_RECONSTRUCTED_106  \
466362                1782.0              8168.0                     NaN
466363                 400.0              1835.0                     NaN
466364                 202.0               926.0                     NaN
466386                   NaN                 NaN                  2018.0
466398                 239.0              1096.0                     NaN
...                      ...                 ...                     ...
472437                   NaN                 NaN                     NaN
472558                   NaN                 NaN                     NaN
472680                   NaN                 NaN                     NaN
472724                   NaN                 NaN                     NaN
472949                   NaN                 NaN                  2003.0

        DECK_WIDTH_MT_052  STRUCTURE_LEN_MT_049  STATE_CODE_001  \
466362               13.6                 587.0              42
466363               13.6                 606.6              42
466364               29.1                  24.7              42
466386               15.2                  22.3              42
466398               27.6                  31.1              42
...                   ...                   ...             ...
472437               22.3                 238.4              42
472558               24.2                  15.2              42
472680               15.2                  16.8              42
472724               29.5                  56.7              42
472949               12.5                 120.4              42

        COUNTY_CODE_003
466362              101
466363              101
466364              101
466386              101
466398              101
...                 ...
472437              101
472558              101
472680              101
472724              101
472949              101

[122 rows x 15 columns]

In [17]:
bridge_df.columns = ["Bridge ID",
"Latitude",
"Longitude",
"Year Built",
"Owner",
"Maintenance",
"Bridge Condition",
"Bridge Improvement Cost",
"Roadway Improvement Cost",
"Total Improvement Cost",
"Year Reconstructed",
"Deck Width",
"Structure Length",
"PA",
"Philadelphia"]

In [10]:
filtered_df

,Bridge ID,Latitude,Longitude,Year Built,Owner,Maintenance,Bridge Condition,Bridge Improvement Cost,Roadway Improvement Cost,Total Improvement Cost,Year Reconstructed,Deck Width,Structure Length,PA,Philadelphia
452996,452997,40.103450,-74.961092,1990,4,4,G,0.0,0.0,0.0,0.0,13.0,18.3,42,101
466359,466360,39.989944,-75.250461,1935,1,27,F,86.0,252.0,1156.0,0.0,19.1,28.7,42,101
466360,466361,40.000700,-75.227539,1910,1,1,P,25.0,72.0,332.0,0.0,25.3,18.9,42,101
466361,466362,40.006661,-75.199589,1953,1,1,F,0.0,0.0,0.0,1989.0,14.9,50.3,42,101
466362,466363,40.007103,-75.192278,1960,1,1,F,605.0,1782.0,8168.0,NaN,13.6,587.0,42,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472437,472438,39.971314,-75.123447,2019,1,1,G,NaN,NaN,NaN,NaN,22.3,238.4,42,101
472558,472559,39.942597,-75.211397,2020,27,27,G,NaN,NaN,NaN,NaN,24.2,15.2,42,101
472680,472681,40.058022,-75.195347,2020,1,1,G,NaN,NaN,NaN,NaN,15.2,16.8,42,101
472724,472725,39.998933,-75.086278,2021,1,1,G,NaN,NaN,NaN,NaN,29.5,56.7,42,101
472949,472950,39.893306,-75.191028,1941,26,26,F,NaN,NaN,NaN,2003.0,12.5,120.4,42,101

In [18]:
bridge_df = bridge_df[["Bridge ID",
"PA",
"Philadelphia",                          
"Latitude",
"Longitude",
"Year Built",
"Owner",
"Maintenance",
"Bridge Condition",
"Bridge Improvement Cost",
"Roadway Improvement Cost",
"Total Improvement Cost",
"Year Reconstructed",
"Deck Width",
"Structure Length"]]

In [19]:
bridge_df

,Bridge ID,PA,Philadelphia,Latitude,Longitude,Year Built,Owner,Maintenance,Bridge Condition,Bridge Improvement Cost,Roadway Improvement Cost,Total Improvement Cost,Year Reconstructed,Deck Width,Structure Length
452996,452997,42,101,40.103450,-74.961092,1990,4,4,G,0.0,0.0,0.0,0.0,13.0,18.3
466359,466360,42,101,39.989944,-75.250461,1935,1,27,F,86.0,252.0,1156.0,0.0,19.1,28.7
466360,466361,42,101,40.000700,-75.227539,1910,1,1,P,25.0,72.0,332.0,0.0,25.3,18.9
466361,466362,42,101,40.006661,-75.199589,1953,1,1,F,0.0,0.0,0.0,1989.0,14.9,50.3
466362,466363,42,101,40.007103,-75.192278,1960,1,1,F,605.0,1782.0,8168.0,NaN,13.6,587.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472437,472438,42,101,39.971314,-75.123447,2019,1,1,G,NaN,NaN,NaN,NaN,22.3,238.4
472558,472559,42,101,39.942597,-75.211397,2020,27,27,G,NaN,NaN,NaN,NaN,24.2,15.2
472680,472681,42,101,40.058022,-75.195347,2020,1,1,G,NaN,NaN,NaN,NaN,15.2,16.8
472724,472725,42,101,39.998933,-75.086278,2021,1,1,G,NaN,NaN,NaN,NaN,29.5,56.7
472949,472950,42,101,39.893306,-75.191028,1941,26,26,F,NaN,NaN,NaN,2003.0,12.5,120.4

In [20]:
bridge_df.to_csv("bridge_data.csv", index=False)

In [ ]:
# good_bridges_df = filtered_df[filtered_df['Bridge Condition'] == 'G']
# good_bridges_df

In [ ]:
# m = folium.Map([40.10345, -74.961092], zoom_start=11)



# # Iterate over the "Good" bridges DataFrame and add markers to the map
# for index, row in good_bridges_df.iterrows():
#     folium.Marker(
#     location=[row['Latitude'], row['Longitude']],
#     popup=f"Bridge {index}", 
#     icon=folium.Icon(color="green"),
#     ).add_to(m)
# m

# # Show the map in a browser
# #m.save("good_bridges_map.html")

In [ ]:
# fair_bridges_df = filtered_df[filtered_df['Bridge Condition'] == 'F']
# fair_bridges_df

In [ ]:
# m = folium.Map([40.10345, -74.961092], zoom_start=11)



# # Iterate over the "Good" bridges DataFrame and add markers to the map
# for index, row in fair_bridges_df.iterrows():
#     folium.Marker(
#     location=[row['Latitude'], row['Longitude']],
#     popup=f"Bridge {index}", 
#     icon=folium.Icon(color="orange"),
#     ).add_to(m)

# m    
# # Show the map in a browser
# #m.save("fair_bridges_map.html")

In [ ]:
# poor_bridges_df = filtered_df[filtered_df['Bridge Condition'] == 'P']
# poor_bridges_df

In [ ]:
#bridge_df

In [ ]:
# geoLoc = Nominatim(user_agent="GetLoc")
# locname = geoLoc.reverse("39.963467, -75.186778")
# print(locname.address)

In [ ]:
# geolocator = Nominatim(user_agent="bridge_address")
# def reverse_geocode(row):
#     location = geolocator.reverse((row["Latitude"], row['Longitude']), exactly_one=True)
#     if location:
#         return location.address
#     else:
#         return "N/A"
# #Add in Address column with reverse geocode data
# filtered_df["Address"] = filtered_df.apply(reverse_geocode, axis=1)
# filtered_df